{% extends "base.html" %}

{# Hide sidebar on this page only #}
{% block sidebar %}{% endblock %}

{% block title %}Új felhasználó hozzáadása{% endblock %}

{% block content %}
<div class="container page-admin-user-add py-3">
  <h1 class="h4 mb-3">Új felhasználó</h1>

  <form id="admin-user-add-form" method="post" class="row g-3 needs-validation" novalidate>
    {{ form.hidden_tag() }}

    <!-- row1 -->
    <div class="col-md-6">
      <label for="{{ form.username.id }}" class="visually-hidden">Email cím</label>
      {{ form.username(class="form-control", placeholder="Email cím", required=True, type="email") }}
    </div>
    <div class="col-md-6">
      <label for="{{ form.full_name.id }}" class="visually-hidden">Teljes név</label>
      {{ form.full_name(class="form-control", placeholder="Teljes név", required=True) }}
    </div>

    <!-- row2 -->
    <div class="col-md-6">
      <label for="{{ form.screen_name.id }}" class="visually-hidden">Monogram</label>
      {{ form.screen_name(class="form-control", placeholder="Monogram", required=True) }}
    </div>
    <div class="col-md-6">
      <label for="{{ form.password.id }}" class="visually-hidden">Jelszó</label>
      {{ form.password(class="form-control", placeholder="Jelszó", required=True) }}
    </div>

    <!-- row3 -->
    <div class="col-md-6">
      <label for="{{ form.role.id }}" class="visually-hidden">Szerepkör</label>
      <select id="{{ form.role.id }}" name="{{ form.role.name }}" class="form-select" required>
        <option value="" disabled {% if not form.role.data %}selected{% endif %}>Válasszon szerepkört</option>
        {% for val, label in form.role.choices %}
          <option value="{{ val }}"{% if form.role.data == val %} selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-6">
      <label for="{{ form.default_leiro_id.id }}" class="visually-hidden">Default leíró</label>
      <select id="{{ form.default_leiro_id.id }}" name="{{ form.default_leiro_id.name }}" class="form-select" required>
        <option value="" disabled {% if not form.default_leiro_id.data %}selected{% endif %}>Válasszon leírót</option>
        {% for val, label in form.default_leiro_id.choices %}
          <option value="{{ val }}"{% if form.default_leiro_id.data == val %} selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-primary">Mentés</button>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script nonce="{{ csp_nonce }}" type="module" src="{{ url_for('static', filename='js/pages/add_user.js') }}"></script>
{% endblock %}
