{% extends "base.html" %}
{% import 'includes/case_macros.html' as cm %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="container pt-2 pb-4">
  <div class="row">
    <div class="col-md-12 mb-3">
      {{ cm.alapadatok(case) }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      {{ cm.orders_block(case.tox_orders) }}
      <form method="post" action="{{ url_for('auth.generate_tox_doc', case_id=case.id) }}">
        <input type="hidden" name="alkohol_minta_count" value="1">
        <input type="hidden" name="alkohol_minta_ara" value="2500">
        <input type="hidden" name="permetezoszer_minta_count" value="">
        <input type="hidden" name="permetezoszer_minta_ara" value="">
        <input type="hidden" name="etilenglikol_minta_count" value="">
        <input type="hidden" name="etilenglikol_minta_ara" value="">
        <input type="hidden" name="diatoma_minta_count" value="">
        <input type="hidden" name="diatoma_minta_ara" value="">
        <input type="hidden" name="szarazanyag_minta_count" value="">
        <input type="hidden" name="szarazanyag_minta_ara" value="">
        <input type="hidden" name="gyogyszer_minta_count" value="">
        <input type="hidden" name="gyogyszer_minta_ara" value="">
        <input type="hidden" name="kabitoszer_minta_count" value="">
        <input type="hidden" name="kabitoszer_minta_ara" value="">
        <input type="hidden" name="co_minta_count" value="">
        <input type="hidden" name="co_minta_ara" value="">
        <input type="hidden" name="egyeb_minta_count" value="">
        <input type="hidden" name="egyeb_minta_ara" value="">
        <input type="hidden" name="osszesen_ara" value="">
        <button class="btn btn-outline-primary mt-2" type="submit">
          <i class="bi bi-file-earmark-word"></i> Toxikológiai kirendelő generálása
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      {% set upload_url = url_for('auth.upload_file', case_id=case.id) %}
      {% set categories = [
          ('tox_lelet', 'toxikológiai lelet'),
          ('végzés', 'végzés'),
          ('egyéb', 'egyéb')
        ] %}
      {{ cm.file_upload_block(upload_url, 'file', 'tox-file-upload', True, 'Fájl feltöltése', 'Feltöltés', {}, categories) }}
    </div>
    <div class="col-md-12 mb-3">
      {{ cm.uploaded_files(case) }}
    </div>
  </div>

  <form method="post" class="row g-3 needs-validation" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{ cm.notes_ajax_block(case) }}
    <div class="col-12 d-flex gap-2">
      <button type="submit" class="btn btn-success">Elvégezve</button>
      <a href="{{ url_for('main.toxi_ugyeim') }}" class="btn btn-outline-secondary">Mégse</a>
    </div>
  </form>
</div>
{% endblock %}