{% extends "base.html" %}

{% block content %}
  <div class="card-body d-flex align-items-center py-3">
    <i class="bi bi-folder2-open fs-3 me-3 text-primary"></i>
    <div>
      <h3 class="h4 mb-0">Ügyeim (Toxikológus)</h3>
    </div>
  </div>

  <h2><span class="badge bg-danger">Kiosztott</span></h2>
  {% if assigned_cases %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Boncszám</th>
        <th>Elhunyt neve</th>
        <th>Állapot</th>
        <th>Regisztrálva</th>
        <th>Határidő</th>
        <th>Műveletek</th>
      </tr>
    </thead>
    <tbody>
      {% for case in assigned_cases %}
      <tr>
        <td>{{ case.case_number }}</td>
        <td>{{ case.deceased_name }}</td>
        <td>{{ case.status }}</td>
        <td>{{ case.registration_time_str }}</td>
        <td>{{ case.deadline_str }}</td>
        <td>
          <a class="btn btn-outline-success" href="{{ url_for('main.elvegzem_toxi', case_id=case.id) }}">Elvégzem</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Nincsenek kiosztott ügyeid.</p>
  {% endif %}

  <h2><span class="badge bg-success">Elvégzett</span></h2>
  {% if done_cases %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Boncszám</th>
        <th>Elhunyt neve</th>
        <th>Állapot</th>
        <th>Regisztrálva</th>
        <th>Határidő</th>
        <th>Műveletek</th>
      </tr>
    </thead>
    <tbody>
      {% for case in done_cases %}
      <tr>
        <td>{{ case.case_number }}</td>
        <td>{{ case.deceased_name }}</td>
        <td>{{ case.status }}</td>
        <td>{{ case.registration_time_str }}</td>
        <td>{{ case.deadline_str }}</td>
        <td>
          <a href="{{ url_for('main.elvegzem_toxi', case_id=case.id) }}" class="btn btn-outline-secondary btn-sm">Szerkeszt</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Nincsenek elvégzett ügyeid.</p>
  {% endif %}
{% endblock %}